**/dist
**/es
**/esm
**/lib
**/node_modules

packages/storybook-data-json/css.js
packages/storybook-data-json/src/css.js
packages/storybook-data-json/prism.js
packages/storybook-data-json/src/prism.js
packages/storybook-data-json/index.js
packages/storybook-data-json/register.js