**/dist
**/es
**/esm
**/lib
**/node_modules

packages/storybook-addon-data/vendor/*.js
packages/storybook-addon-data/src/vendor/*.js

packages/storybook-addon-data/index.js
packages/storybook-addon-data/register.js