**/dist
**/es
**/esm
**/lib
**/node_modules

packages/storybook-addon-data/css.js
packages/storybook-addon-data/src/css.js
packages/storybook-addon-data/prism.js
packages/storybook-addon-data/src/prism.js
packages/storybook-addon-data/index.js
packages/storybook-addon-data/register.js