.DS_Store
node_modules
*.log
tmp

# build
*.tgz

packages/storybook-addon-data/vendor/*.js
packages/storybook-addon-data/src/vendor/*.js

packages/storybook-addon-data/index.js
packages/storybook-addon-data/constants.js
packages/storybook-addon-data/register.js
packages/storybook-addon-data/README.md
packages/storybook-addon-data/components
packages/storybook-addon-data/services

# tests
coverage